<h1 class=".col-md-6 text-center"> Lays Around the World</h1>
<br>
<div class="container" id="map"> </div>
<br>
 <script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCR6QPjU3HfNBAUGvKu7jUrzpTSEwVNvGY&callback=initMap">
 </script>
<br>
<br>
<div class="container text-center" id="test"></div>
<br>
<br>
<br>
<div class="container" >
  <img class=".col-md-4 " src="https://www.fritolay.com/images/default-source/blue-bag-image/lays-classic.png?sfvrsn=bd1e563a_2">
  <img class=".col-md-4 " src="https://1.bp.blogspot.com/-7MbO_bZNQU8/VwWdJ67_6OI/AAAAAAAAOUc/oDj4kZvSDYYoYDp4mBSyN73WsRPYHgPaQ/s640/lays.jpg">
  <img class=".col-md-4 " src="https://i.pinimg.com/564x/07/f7/ca/07f7ca02211b227964ba39ee56ff3ff0--popcorn-chips-cheese-popcorn.jpg">
</div>
<br>
<br>
</div>
<br>


