<h1>Locations Will Go Here</h1>
<div id="map"> </div>
 <script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCR6QPjU3HfNBAUGvKu7jUrzpTSEwVNvGY&callback=initMap">
 </script>

<h1>Stores will go here</h1>
<div id="stores">
  <ul>
  <% @store_array.each do |store| %>
    <li><%= store %></li>
  <% end  %>
  </ul>
</div>
